@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    <a href="@Url.Action("Create", "Clients")" class="btn btn-primary">Добавить клиента</a>
    <a href="@Url.Action("Create", "Orders")" class="btn btn-primary">Добавить заказ</a>
   
</div>
